/*设置样式全局变量*/
:root{
  --btn-size: 1vw;
  --ctrl-size: 1.25vw;
  --title-size: 1.5vw;
  --theme-color:#FFB61E;
  --table-header-color: #DDDDDD;
  --table-content-color: #CCCCCC;
  --white-mask1: rgba(255,255,255,0.2);
  --white-mask2: rgba(255,255,255,0.4);
  --white-mask3: rgba(255,255,255,0.6);
  --white-mask4: rgba(255,255,255,0.8);
  --white-mask5: rgba(255,255,255,1);
  --black-mask1: rgba(0,0,0,0.2);
  --black-mask2: rgba(0,0,0,0.4);
  --black-mask3: rgba(0,0,0,0.6);
  --black-mask4: rgba(0,0,0,0.8);
  --black-mask5: rgba(0,0,0,1);
}

/* 引入antd样式*/
@import '~antd/dist/antd.css';

/*chrome 滚动条样式*/
::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--theme-color);
}

/* index.css */
body{
  background-color: var(--theme-color);
}
.theme{
  background-color: var(--theme-color);
}

.theme .layout-header{
  background: var(--white-mask3);
  margin: 0 12%;
  border-radius: 0 0 30px 30px;
  min-width: 720px;
}

.theme .showtitle{
  font-size: var(--title-size);
}

.theme .layout-header .ant-breadcrumb a{
  color: var(--black-mask4);
}

.theme .layout-header .ant-breadcrumb a:hover{
  color:  var(--theme-color);
}

.theme .layout-content{
  background: transparent;
  margin: 2% 20%;
  min-width: 600px;
  height: 50vh;
  overflow: hidden;
}

.layout-content .ant-slider{
  background-color: var(--white-mask3);
  border-radius: 5px;
}

.layout-content .ant-slider .ant-slider-rail{
  background-color: var(--black-mask1);
  border-radius: 5px;
}

.layout-content .ant-slider .ant-slider-track{
  background-color: var(--theme-color);
  border-radius: 5px;
}

.layout-content .ant-slider .ant-slider-handle{
  background-color: var(--theme-color);
  border: solid 2px var(--white-mask3);
}

.layout-content .ant-slider:hover .ant-slider-handle:not(.ant-tooltip-open){
  border-color: var(--white-mask4);
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.layout-content .ant-slider .ant-slider-handle:focus {
  border-color: var(--white-mask4);
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.theme .layout-content .ant-table-content .ant-table-header {
  background-color: var(--table-header-color);
}

.theme .layout-content .ant-table-body {
  background-color: var(--table-content-color);
}

.theme .layout-content .ant-card {
  height: 100px;
  margin: 10px;
  background-color: var(--white-mask4);
}

.theme .layout-content .ant-card-bordered {
  border: 1px solid var(--black-mask2);
}

.theme .layout-footer{
  background: var(--white-mask3);
  margin: 0 12%;
  border-radius: 30px;
  min-width: 720px;
}

.theme .layout-footer .ctrlmenu .ctrllink{
  font-size: var(--ctrl-size);
  color: var(--black-mask4);
}
